body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
  min-height: 100vh; /* Chiều cao ít nhất là 100% chiều cao của khung nhìn */
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 430px; /* Chiều rộng cố định tương tự như trên mobile */
  width: 100%; /* Đảm bảo root chiếm hết chiều rộng khi dưới 430px */
  height: 932px; /* Chiều cao mô phỏng giao diện mobile */
  margin: 0 auto; /* Canh giữa theo chiều ngang */
  padding: 0rem;
  background-color: white; /* Nền màu trắng như trên mobile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ để tạo hiệu ứng khối */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
  border-radius: 10px; /* Tạo góc bo tròn nếu muốn */
  position: relative;
}
