.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0px;
    transition: transform 0.5s ease;
}
button {
    font-family: roboto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
   margin-top: 15%;
   position: relative;

}
.show-more-button{
position: relative;
display: inline-block;
right: -3%;
}
.show-button {
    position: relative;
    display: inline-block;
    left: -3%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .movie-modal {
    background-color: white;
    height: 450px;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .movie-details-modal {
    font-family: roboto;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .movie-modal img {
    position: relative;
    display: inline-flex   ;
    top:-50px;
    left:-5rem;
    width: 325px; 
    height: 480px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
  }
  .close-button {
    position: absolute;
    top:-7rem;
    right: 10px;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    box-shadow: none;
  }
  
  .close-button:hover {
    color: #ff5733; /* Màu khi hover lên nút đóng */
  }
  .play {
    width: 190px;
    position: relative;
    color:white;
    top:-5%;
    font-size: large;
    box-shadow: none;
    background-image: linear-gradient(to right,rgb(243, 171, 64),rgb(214, 163, 52));
  }
  .introduce{
    width: 400px;
  }